body {
  background-color: #EAF6F6;
}

h1 {
  color: #66BFBF;
}

h3 {
  color: #66BFBF;
}

hr {
  background-color: white;
  border-style: none;
  border-top-style: dotted;
  width: 6%;
  border-color: gray;
  border-width: 7px;
}
