body {
  font-family: 'Montserrat', sans-serif;
}

#title {
  background-color: #FF4C68;
  color: #FFFFFF;
}

.container-fluid {
  padding: 3% 15%;
}

h1 {
  font-family: Montserrat-Black, Montserrat, sans-serif;
  font-size: 4.5rem;
  line-height: 1.5;
}

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;

}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: Montserrat-Light sans-serif;
}

.title-image {
  width: 60%;
  transform: rotate(25deg);
}