/* Tag selectors */
h1  {
    color: red;
    font-size: 200px;
}
img:hover {
    background-color: gold;
}

/* Class selectors*/
.bacon {
    background-color: green;
}

.broccoli
 {
    background-color: red;
}

/* Id selectors */
#heading {
    color: blue;
}
